<section class="fixed items-center flex flex-col float-left w-1/4">
  <header class="flex ">
      <h3>Chatify</h3>
  </header>
     
  <div class="w-full p-8">
    <div class="bg-white w-auto flex items-center rounded-full shadow-xl">
      <input class="rounded-l-full w-full py-4 px-6 text-gray-700 leading-tight focus:outline-none" id="search-input" type="text" placeholder="Find Some Music">
      <div class="p-4">
        <button class="bg-green-400 text-black rounded-full p-2 hover:bg-green-400 focus:outline-none w-14 h-12 flex items-center justify-center" type="submit" id="find-album">
            Search
        </button>
      </div>
    </div>
  </div>
    
  <button class="w-1/2 m-6 rounded-full flex shadow bg-green-400 px-4 py-2 text-black hover:bg-green-400">
    Login to Spotify
  </button>
</section>

<section id="content">
  
  <section id="part-1">
    
    
    <section>
        
      <div class="grid grid-cols-2 p-8">
          
        <div class="p-8 m-8 bg-green-400 max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="/img/card-top.jpg" alt="Album Cover" />
          <div class="px-6 py-4"></div>
          <div class="font-bold text-xl mb-2 text-black">Album Title</div>
        </div>
          
        <div class="p-8 m-8 bg-green-400 max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="/img/card-top.jpg" alt="Album Cover" />
          <div class="px-6 py-4"></div>
          <div class="font-bold text-xl mb-2 text-black">Album Title</div>
        </div>
          
        <div class="p-6 m-8 bg-green-400 max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="/img/card-top.jpg" alt="Album Cover" />
          <div class="px-6 py-4"></div>
          <div class="font-bold text-xl mb-2 text-black">Album Title</div>
        </div>
          
        <div class="p-8 m-8 bg-green-400 max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full" src="/img/card-top.jpg" alt="Album Cover" />
          <div class="px-6 py-4"></div>
          <div class="font-bold text-xl text-black mb-2">Album Title</div>
        </div>  
      </div>
    </section>
  
  </section>
  <section>
  <div id="blob-container">
    <canvas></canvas>
    <img id="bg" src="./images/parallax-bg.jpg" />
    <img id="blob-1" src="./images/blob-1.png" />
    <img id="blob-2" src="./images/blob-2.png" />
    <img id="blob-3" src="./images/blob-3.png" />
    <img id="blob-4" src="./images/blob-4.png" />
    <img id="blob-5" src="./images/blob-5.png" />
    <img id="blob-6" src="./images/blob-6.png" />
    <img id="blob-7" src="./images/blob-7.png" />
    <img id="blob-8" src="./images/blob-8.png" />
    <img id="blob-9" src="./images/blob-9.png" />
  </div>
</section>
<script src="js/parallax.js"></script>
<script type="text/javascript">
  $("#find-album").on("click", function(event) {

        event.preventDefault();

        var album = $("#search-input").val();

        
        var queryURL = "https://spotify" + album + "&apikey=trilogy";

        $.ajax({
          url: queryURL,
          method: "GET"
        }).then(function(response) {
          $("#movie-view").text(JSON.stringify(response));
        });

      
      });
</script>